{% extends "base.html" %}

{% block title %}Create Catalog{% endblock %}

{% block content %}
<h2>Create Catalog</h2>

{% if feedback_message != None %}
    {% if feedback_type %}
        <span style="color:green">{{feedback_message}}</span>
    {% else %}
    <span style="color:red">{{feedback_message}}</span>
    {% endif %}
{% endif %}

<form action="{{ url_for('catalogcreate')}}" method="post">
    <h5>Enter the catalog name</h5>
    <div>
        <input type="text" name="Name" placeholder="Name">
    </div>
    <div>
        <button>Create Catalog</button>
    </div>
</form>

<a href="/catalog_home"><button> Go back </button></a>
{% endblock %}