{% extends "base.html" %}

{% block title %}Food Edit{% endblock %}

{% block content %}
<h2>Add a food</h2>

{% if feedback_message != None %}
    {% if feedback_type %}
        <span style="color:green">{{feedback_message}}</span>
    {% else %}
    <span style="color:red">{{feedback_message}}</span>
    {% endif %}
{% endif %}

<form action="{{ url_for('foodcreate')}}" method="post">
    <h5>Enter the food details</h5>
    <div>
        <input type="text" name="Name" placeholder="Name">
    </div>
    <div>
        <input type="text" name="Calories" placeholder="Calories">
    </div>
    <div>
        <button >Create</button>
    </div>
</form>

<form action="{{ url_for('fooddelete')}}" method="post">
    <label for="allFoods">Select a food</label>
    <select name="allFoods">
      {% for name in allFoods %}
        <option value="{{ name }}">{{ name }}</option>
      {% endfor %} 
    </select>
    <div>
      <button type="submit" name="delete_button" value="delete_button"> Delete </button>
    </div>
</form>

<a href="/foodlist"><button>Food List!</button></a>
<br>
<a href="/updatefood"><button>Update Food Information</button></a>
<br>
<a href="/"><button> Go back </button></a>
{% endblock %}