{% extends "base.html" %}

{% block title %}Nutrinotes{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutrinotes</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div style="padding:20px">
        <h1>Welcome to Nutrinotes, {{current_user.Username}}!</h1>
    </div>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/food">Add Foods!</a>
        <a href="/user">User Information for admins</a>
        <a href="/goals">View Goals!</a>
        <a href="/friends">See your friends!</a>
        <a href="/catalog_home">Catalogs</a>


        <form action="{{url_for('logout_action')}}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>

</html>
{% endblock %}